<div class="container space">
    <form>
        <div class="titulo">
            <h1>Cadastro de Vagas</h1>
        </div>
        <div class="col-auto">
            <label for="fEmmpresa">Empresa</label>
        </div>
        <div>
            <input class="form-control" type="text" id="empresa" name="Empresa">
        </div>
        <div class="col-auto">
            <label for="fEndereco">Endereço</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Empresa" name="Endereco">
        </div>
        <div class="col-auto">
            <label for="fTelefone">Telefone</label>
        </div>
        <div>
            <input class="form-control" type="text" id="ano" name="Telefone">
        </div>
        <div class="col-auto">
            <label for="fEmail">Email</label>
        </div>
        <div>
            <input class="form-control" type="text" id="ano" name="Email">
        </div>
        <div class="col-auto">
            <label for="fResponsavel">Responsável</label>
        </div>
        <div>
            <input class="form-control" type="text" id="ano" name="Responsavel">
        </div>
        <div class="col-auto">
            <label for="fTecnologias">Tecnologias</label>
        </div>
        <div>
            <input class="form-control" type="text" id="ano" name="Tecnologias">
        </div>
        <div class="col-auto">
            <label for="fObservacao">Observação</label>
        </div>
        <div>
            <input class="form-control" type="text" id="ano" name="Observacao">
        </div>
        <div>
            <input class="btn btn-primary btts" type="submit" (click)="Salvar()" value="Salvar">
        </div>
    </form>
</div>