<div class="container space">
    <form>
        <div class="titulo">
            <h1>Cadastro de Candidato</h1>
        </div>
        <div class="col-auto">
            <label for="fnome">Nome Completo</label>
        </div>
        <div>
            <input class="form-control" type="text" id="empresa" name="nome">
        </div>
        <div class="col-auto">
            <label for="fEndereco">Endereço</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Empresa" name="Endereco">
        </div>
        <div class="col-auto">
            <label for="fTelefone">Telefone</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Telefone" name="Telefone">
        </div>
        <div class="col-auto">
            <label for="fEmail">Email</label>
        </div>
        <div>
            <input class="form-control" type="text" id="email" name="Email">
        </div>
        <div class="col-auto">
            <label for="fcargo">Cargo</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Responsalvel" name="Responsavel">
        </div>
        <div class="col-auto">
            <label for="fExperiencia">Experiência</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Experiencia" name="Experiencia">
        </div>
        <div class="col-auto">
            <label for="fTecnologias">Tecnologias</label>
        </div>
        <div>
            <input class="form-control" type="text" id="tecnologia" name="Tecnologias">
        </div>
        <div class="col-auto">
            <label for="fObservacao">Observação</label>
        </div>
        <div>
            <input class="form-control" type="text" id="Observacao" name="Observacao">
        </div>
        <div>
            <input class="btn btn-primary btts" type="submit" (click)="Salvar()" value="Salvar">
        </div>
    </form>
</div>